aside{
    height: 13%;
    width: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    padding-top: 2%;
    
    
}

.allLinks{
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-left:93%;
    margin-top: -4%;
}


.logoImg{
    width: 7%;
    margin-top: -3%;



}
.logoName{
    margin-left: 7%;
    margin-top: -5%;
}

.allOrder{
    display: flex;
    flex-wrap: nowrap;
    gap: 1%;
}
body{
    margin-top: 10%;
}

.allOrder a{
color: rgb(108, 255, 243);
    text-decoration: none;
    font-size: 24px;
}

.allOrder img{
    width: 100%;
}

.wpOrder{
    height: 250px;
    width: 250px;
    background: rgb(161, 160, 160);
    text-align: center;
}

.verstkaOrder{
    height: 250px;
    width: 250px;
    background: rgb(161, 160, 160);
    text-align: center;
    
}

