body{
    background-color: rgb(120, 227, 231);
}

.contentBox{ 
    text-align: center;
}

.btnBuy{
    background: rgb(3, 195, 3);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.btnBuy:hover{
    background-color: rgb(7, 131, 1);
}

.lickeBtnContentBox{
    margin-top: 1pt;
}

.likeBtn{
    border-radius: 10px;
}

.textLike{
    font-size: 16px;
    font-weight: bold;
}

.likeBtn:hover{
    background: rgb(176, 176, 176);
    border-radius: 30px;
}